.income{
    border-radius: 10px;
    background-color: rgba(28, 166, 7, 0.374);
}

.outcome{
    border-radius: 10px;
    background-color: rgba(166, 49, 7, 0.374);
}

.date{
    font-size: smaller;
}

.pointer{
    cursor: pointer;
}

#cite{
    font-size: 0.8rem;
}