#piggy-logo{
 font-size: 3rem;
 color: bisque;
}
#title{
color: bisque;
}
.piggy-logo{
font-family:cursive;
font-style: oblique;
font-size: 0.8rem;
color: bisque;
}


a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
}
a:hover{
    transition: 0.5s;
    color: rgb(199, 160, 112);
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }